html,
body,
#app {
    margin: 0;
    height: 100vh;
}

body {
    min-width: 665px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, "Open Sans";
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.dark {
    background: #051736;
}

.row {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.nav {
    list-style-type: none;
}

.nav li {
    margin-right: 10px;
}

.nav-link {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin-right: 5px;
}

.dark{
    color: #DADADA;
    background: #051736;
    min-height: 100%;
}

.dark a {
    color: rgb(203, 203, 203);;
}

.btn-clear {
    background: transparent;
    border: none;
    font-size: 30px;
}

.news {
    list-style-type: none;
    margin: 20px 0;
}

.link {
    color: rgb(187, 46, 31);
    text-decoration: none;
    font-weight: bold;
}

.subtitle-light {
    margin-top: 5px;
    color: gray;
}

.subtitle-light a {
    color: black;
}

.subtitle-dark {
    margin-top: 5px;
    color: gray;
}

.comment {
    list-style-type: none;
    background: rgba(128, 128, 128, 0.1411764705882353);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}